<main class="content">
  <section class="home">
    <h1 class="visually-hidden">HOME PAGE</h1>
    <div class="google-logo" id="logo-google">
      <img src="./image/Google_logo.png" alt="Google" width="272" />
    </div>
    <div class="google-logo visually-hidden" id="logo-makiage">
      <img
        src="https://www.ilmakiage.com/skin/frontend/ilmakiage/default/images/logo_new.svg"
        alt="IL MAKIAGE"
        width="272"
      />
    </div>
    <div class="container-form">
      <form class="form" id="form">
        <input class="form__input" type="text" name="searchQuery" />
        <div class="form__icon">
          <svg width="24" height="24">
            <use href="./image/svg/modal.svg#icon-search"></use>
          </svg>
        </div>
        <div class="form__icon-button">
          <button class="form__btn-search" type="button">
            <svg width="24" height="24">
              <use href="./image/svg/modal.svg#icomoon-ignore"></use>
            </svg>
          </button>
          <button class="form__btn-search" type="submit">
            <svg width="30" height="30">
              <use href="./image/svg/modal.svg#icon-dictaphone"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
    <div class="container-button">
      <button type="button" class="button" id="btnSearch">Пошук Google</button>
      <button type="button" id="btnEl" class="button">Мені пощастить</button>
    </div>

    <p class="text">
      Мова Google:<span class="link">English</span>
      <span class="link">русский</span>
    </p>
  </section>
</main>
